/*------------------------------------*\
  # only minor layout components that are unique
  # layout.scss
\*------------------------------------*/



#header{
  border: 1px solid black;
}



#main{
  border: 1px solid black;
}



#sidebar {
  border: 1px solid black;
}



#footer{
  border: 1px solid black;
}
