/*
TODO: shouldn't be base as tag-definitions
or in componentes
*/

// background
.bg-pattern--mood {
  background-image: url('');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

// font
.intro {
  font-size: 20px;
  line-height: 28px;
  font-weight: $regular;
  color: $ocean-black;
}

.text {
  font-size: 16px;
  font-weight: $regular;
  font-style: italic;
  color: $ocean-black;
  line-height: 25px;
}

// .link {
//   //aligns text and icon centered
//   @include display(flex);
//   @include align-items(center);
//
//   font-size: 20px;
//   font-weight: $semibold;
//   color: $black;
//   &:hover {
//     color: $black;
//   }
//   &:after {
//     display: inline-block;
//     content: '';
//     background-image: url('./../img/svg/img_arrow_link.svg');
//     background-size: 17px 17px;
//     @include size(17px 17px);
//     margin-left: 10px;
//   }
//   &:hover:after {
//     background-image: url('./../img/svg/img_arrow_link_hover.svg');
//     @include size(17px 17px)
//   }
// }

.figure-caption {
  font-size: 14px;
  font-weight: $regular;
  color: $ocean-black;
}


/*
  mobile view
*/

@include media($medium-screen-le) {

  .bg-pattern--stroke\@lg+ {
    background-image: none;
  }

  .breadcrumb {
    font-size: 13px;
  }

  .intro {
    font-size: 14px;
    line-height: 22px;
  }

  .link {
    font-size: 16px;
  }

  .text {
    font-size: 13px;
    //letter-spacing: 20px;
  }

}
