$main-nav-height: rem(56px);
$link-border: 3px;

.main-nav {
  @include container-padding;
  height: $main-nav-height;
  display: block;
  // @extend %ocean-linear-gradient;
  background-color: $ocean-blue-bright;
  // background-color: $ocean-blue-dark;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.5);
}

.nav-bar {
  height: $main-nav-height;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.controls, .page-title, .lang {
  // flex-grow: 1;
}

.controls {
  display: flex;
  flex-direction: row;
  // flex-grow: 1;
  > * + * {
    margin-left: $base-spacing;
  }
}

.page-title {
  text-transform: uppercase;
  color: $ocean-white;
  font-family: $ping-fang-sc-medium;
}

.lang {
  color: $ocean-white;
  // flex-grow: 1;
  &__devider {
    margin: 0 rem(12px);
  }

  &__ping-fang {
    font-family: $ping-fang-sc-medium;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  // @include justify-content(center);
  &.menu--closed {
    display: none;
  }
}

.menu-item {
  flex-grow: 1;
  background-color: $ocean-blue-dark;
  display: inline-block;
  &.__link {

  }
}

.icon--burger {
  background: url('../assets/img/svg/burger-icon.svg') no-repeat center; background-size: cover;
}


// // test min and max -> mq from min and till max value
// @include media-query(min, phone, max, tablet) {
//   .main-nav {
//     background-color: $ocean-red;
//   }
// }
//
// // test max -> mq till max value
// @include media-query(max, phone) {
//   .main-nav {
//     background-color: $ocean-black;
//   }
// }
//
// // test max -> mq from min value
// @include media-query(min, tablet) {
//   .main-nav {
//     background-color: pink;
//   }
// }

// // test error log
// @include media-query() {
//   .main-nav {
//     background-color: pink;
//   }
// }
