
$search-Height: 2rem;

.search {
  display: flex;
  flex-direction: row;

  > * + * {
    margin-left: $base-spacing;
  }

  &__input {
    width: rem(220px);

    &--closed {
      display: none;
    }
  }
  // &__form {
  //   display: flex;
  //   &__input {
  //     height: $search-Height;
  //     margin-bottom: 0;
  //   }
  //   &__submit {
  //     width: 3rem;
  //     height: $search-Height;
  //     background-color: $ocean-blue-dark;
  //   }
  // }
}

// .search__input--closed

.icon--search {
  background: url('../assets/img/svg/search-icon.svg') no-repeat center; background-size: cover;
}

// // HACK get rid of base styling -> base styling must be refacored!
// .search {
//   .search__form__input, .search__form__submit {
//     border-radius: 0;
//   }
//
//   .search__form__input {
//     margin-bottom: 0;
//   }
//   .search__form__submit {
//     border-width: 0;
//   }
// }
