
$search-Height: 2rem;

.search {
  width: rem(266);
  display: flex;
  flex-direction: row;

  > * + * {
    margin-left: $base-spacing;
  }

  &__input {
    width: 100%;
    transition-duration: 0.5s;

    &--closed {
      border: 0 solid $ocean-white !important; // HACK
      width: 0px;
      transition-duration: 0.5s;
    }
  }
}

.icon--search {
  padding: rem(8);
  background: url('../assets/img/svg/search-icon.svg') no-repeat center; background-size: cover;
}
