<footer id="footer">
    <div class="footer-head">
        <a href=""><img src="" alt=""></a>
        <a href=""><img src="" alt=""></a>
        <a href=""><img src="" alt=""></a>
    </div>
    <div class="footer-main">
        <div class="u-container">

            <div class="u-1/4">
                <ul>
                    <li><a class="" href="">Item</a></li>
                    <li><a class="" href="">Item</a></li>
                    <li><a class="" href="">Item</a></li>
                    <li><a class="" href="">Item</a></li>
                    <li><a class="" href="">Item</a></li>
                    <li><a class="" href="">Item</a></li>
                    <li><a class="" href="">Item</a></li>
                    <li><a class="" href="">Item</a></li>
                    <li><a class="" href="">Item</a></li>
                </ul>
            </div>
            <div class="u-1/4">
                <ul>
                  <li><a class="" href="">Item</a></li>
                  <li><a class="" href="">Item</a></li>
                  <li><a class="" href="">Item</a></li>
                  <li><a class="" href="">Item</a></li>
                  <li><a class="" href="">Item</a></li>
                  <li><a class="" href="">Item</a></li>
                  <li><a class="" href="">Item</a></li>
                  <li><a class="" href="">Item</a></li>
                  <li><a class="" href="">Item</a></li>
                </ul>
            </div>
            <div class="u-1/4">
                <ul>
                  <li><a class="" href="">Item</a></li>
                  <li><a class="" href="">Item</a></li>
                  <li><a class="" href="">Item</a></li>
                  <li><a class="" href="">Item</a></li>
                  <li><a class="" href="">Item</a></li>
                  <li><a class="" href="">Item</a></li>
                  <li><a class="" href="">Item</a></li>
                  <li><a class="" href="">Item</a></li>
                  <li><a class="" href="">Item</a></li>
                </ul>
            </div>

        </div>
        <div class="">
            <ul>
                <li><a href="#">Page-Index</a></li>
                <li><a href="#">Page-Index</a></li>
                <li><a href="#">Page-Index</a></li>
                <li><a href="#">Page-Index</a></li>
                <li><a href="#">Page-Index</a></li>
            </ul>
        </div>
    </div>


    <div class="">
        <p class=""> Prototype Footer Note</p>
    </div>
</footer>
