<header id="header">
    <div class="header-wrapper">
        <div class="block">
            <!-- <a href=""><img src="" alt=""></a> -->
        </div>
        <div class="main-nav">
            <div class="search">
              {% include "search-module.html" %}
            </div>
            <nav class="menu">
                <ul>
                    <li class="menu__item">
                        <a href="#">Item</a>
                        <ul class="sub-menu">
                            <li class="sub-menu__item"><a href="#">Sub-Menu-Item</a>
                            </li>
                            <li class="sub-menu__item"><a href="#">Sub-Menu-Item</a></li>
                            <li class="sub-menu__item"><a href="#">Sub-Menu-Item</a></li>
                            <li class="sub-menu__item"><a href="#">Sub-Menu-Item</a></li>
                        </ul>
                    </li>
                    <li class="header-nav__mid__nav__item"><a href="#">Item</a></li>
                    <li class="header-nav__mid__nav__item"><a href="#">Item</a></li>
                </ul>
            </nav>
        </div>
        <div class="block">
            <!-- <a href=""><img src="" alt=""></a> -->
        </div>
    </div>
</header>
