$button-height: rem(56px);
$button-width: rem(320px);
$button-border: rem(4px);
$icon-height: rem(18px);
$icon-width: rem(18px);

button {
  // reset
  appearance: none;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  user-select: none;
  box-shadow: none;
  border: none;
}

button:not(.button--nav):not(.button--icon) {
  height: $button-height;
  width: $button-width;
  border-radius: $button-border;
  display: inline-block;
  font-family: $primary-font-family;
  font-size: $medium-font-size;
  font-weight: $bold;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.5);
//  line-height: 1;
//  padding: $half-base-spacing $base-spacing;
//  text-align: center;
//  text-decoration: none;
//  transition: background-color $base-duration $base-timing;

//  vertical-align: middle;
//  white-space: nowrap;
//
//  &:hover,
//  &:focus {
//    //background-color: shade($action-color, 20%);
//    color: #fff;
//    outline: none;
//  }
//
//  &:disabled {
//    cursor: not-allowed;
//    opacity: 0.5;
//
//    &:hover {
//      background-color: $action-color;
//    }
//  }
}

.button--red {
  background-color: $ocean-red;
  color: $ocean-white;
  border: 0;
}

.button--transparent {
  background-color: $ocean-transparent;
  color: $ocean-white;
  border: 4px solid $ocean-white ;
}

.button--nav {
  background-color: transparent;
}

.button--icon {
  height: $icon-height;
  width: $icon-width;
}

.button--lang {
  color: $ocean-white;
  font-size: rem(18px);
  text-align: center;
}
