// @import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600,700';
// @import helveticaNeue from '../../assets/font/HelveticaNeue.dfont';

// TODO this gets rendered in source/css thats why the path leads to the ROOT
// the base font is acually used in _variables.scss as $primary-font-family
// @font-face {
//   font-family: helveticaNeue;
//   src: url('../../fonts/HelveticaNeue.dfont');
// }

// import lato font
@import url('https://fonts.googleapis.com/css?family=Lato:200,300,400,700');

// import cookie
@import url('https://fonts.googleapis.com/css?family=Cookie');

// maybe https://fonts.google.com/specimen/Playfair+Display

@font-face {
  font-family: aleoBold;
  src: url('../../assets/fonts/aleo-bold-webfont.ttf');
}

@font-face {
  font-family: aleoItalic;
  src: url('../../assets/fonts/aleo-italic-webfont.ttf');
}

@font-face {
  font-family: pingFangSCMedium;
  src: url('../../assets/fontsPingFang.ttc');
}

body {
  color: $base-font-color;
  font-family: $primary-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6,
 {
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

%h1 {
  font-size: rem(24);
  color: $ocean-black;
  line-height: 1.0;
  // letter-spacing: 4px;
}

%h3 {
  font-size: rem(24);
  font-family: $secondary-font-family;
  color: $ocean-black;
  line-height: 1.0;
}

h1 {
  @extend %h1;
}

%text {
  font-size: $base-font-size;
  font-weight: $light;
  column-count: 1;
  column-gap: 1rem;
}

%bold-text {
  font-weight: $bold;
}

p {
  margin: 0 0;
  @extend %text;
}

strong {
  @extend %bold-text;
}

a {
  text-decoration: none;
  color: $ocean-white;
  // transition: color $base-duration $base-timing;
  &:active,
  &:focus,
  &:hover {
    // get rid of active outline
    outline: none;
  }
}


/*
  mobile view
*/

// TODO this should be for medium-screen too?
// @include media($large-screen-lt) {
//   body {
//     font-size: 13px;
//     line-height: 20px;
//     letter-spacing: 0;
//   }
//
//   h1 {
//     font-size: 18px;
//   }
//
//   h2 {
//     font-size: 17px;
//   }
//
//   h3 {
//     font-size: 15px;
//     //line-height: 20px;
//   }
//
//   h4 {
//     font-size: 20px;
//   }
//
//   h5 {
//     font-size: 19px;
//     line-height: 20px;
//   }
//
//   h6 {
//     font-size: 15px;
//   }
//
//   p {
//     //margin: 0;
//   }
//
// }
