// Typography
$primary-font-family: 'helveticaNeue';
$secondary-font-family: 'aleoBold';


// Font Sizes
$base-font-size: rem(16);

// Font weight
$regular:400;
$semibold:600;
$bold:700;

// Line height
$base-line-height: 25px;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
//$base-spacing: $base-line-height * 1em;
$base-spacing: $base-line-height;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$ocean-black: #373736; // mostly font
$ocean-white: #FFFFFF; // background n font
$ocean-grey-bright: #FDFDFD; // background
$ocean-red: #FF1939; // buttons
$ocean-blue-dark-2: #0B4954; // font
$ocean-blue-dark: #007F82; //used for gradiant-1
$ocean-blue-bright: #006273; // used for gradiant-1
$ocean-blue-bright-2: #006273; // used for gradiant-2
$ocean-blue-dark-3: #007F82; // used for gradiant-2

// old colors from prototype
// ----
$black:#000000;
$weiß:#ffffff;
$gold: #8c7659;
$footergold:#b6a48d;
$warmgrau: #d1c8bd;
$hellwarmgrau: #eeebe5;
$warmweiß: #f6f6f5;
$hellviolett: #bfadc2;
$textlinkviolett: #d7ccd9;
$turkis-dark: #1e9692;
$turkis: #20a8a8;
$breadcrumbturkis: #25c2c2;
$textlinkturkis: #baefee;
// ----

// Font Colors
$base-font-color: $ocean-black;
$action-color: $ocean-white;

// Border
$base-border-color: $ocean-black; // old
$base-border: 1px solid $ocean-black;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
