// Typography
$primary-font-family: 'Lato', sans-serif;
$secondary-font-family: 'aleoBold';
$secondary-font-family: 'aleoBold';
$tertiary-font-family: 'aleoItalic';

@mixin rem($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

// Font Sizes
$base-font-size: rem(18);
$medium-font-size: rem(24);

// Font weight
$light:300;
$regular:400;
$semibold:600;
$bold:700;

// Line height
$base-line-height: rem(24px);
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: rem(3px);
//$base-spacing: $base-line-height * 1em;
$base-spacing: $base-line-height;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$ocean-black: #373736; // mostly font
$ocean-white: #FFFFFF; // background n font
$ocean-grey-bright: #FDFDFD; // background
$ocean-red: #FF1939; // buttons
$ocean-blue-dark-2: #0B4954; // font
$ocean-blue-dark: #007F82; //used for gradiant-1
$ocean-blue-bright: #006273; // used for gradiant-1
$ocean-blue-bright-2: #006273; // used for gradiant-2
$ocean-blue-dark-3: #007F82; // used for gradiant-2
$ocean-transparent: transparent;

// Font Colors
$base-font-color: $ocean-black;
$action-color: $ocean-white;

// Border
$base-border-color: $ocean-black; // old
$base-border: 1px solid $ocean-black;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
