<!DOCTYPE html>
<html>

  {% include "head.html" %}



  <body>
  <!-- nunjucks comment example -->
  {# this is a nunjucks comment, nunjucks code won't render here! also no html? #}
  {# include "header.html" #}
  <!-- nunjucks comment example end -->

  <!-- page header section -->
  <!-- end page header section -->

  {% include "header.html" %}

  <!-- page main section -->
  <main id="main"  class="u-container  ">

      <article class="">
        <p>this is a paragraph of an article?</p>
      </article>

      <article class="">
          <h4 class="">another article with heading</h4>
          <div class="">
              <p>
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                  Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                  Donec
                  quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
                  pede justo.
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                  Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                  Donec
                  quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
                  pede justo.
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                  Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                  Donec
                  quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
                  pede justo.
                  Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper
                  nisi.
                  Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
                  Aliquam lorem ante. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.

              </p>
              <div style="width: 50%; margin: 40px auto">
                <h3 style="color: #1e9692"> Example Macro </h3>
                <!-- Macros must be importet somewhere in html file, for making example clear, ill import it here -->
                {% import 'example-macro.html' as exampleMacro %}
                {{ exampleMacro.field('user') }}
                {{ exampleMacro.field('password', type='password') }}
            </div>
          </div>
      </article>
    </main>

    {% include "example-component-group.html" %}

    <div style="display: flex; justify-content: space-between; max-width: 1024px; width: 1024px; margin: 100px auto;">
      {% import 'card--picture.html' as card %}
      {{ card.cardPicture('https://images.unsplash.com/photo-1487252502161-75020a813bf0?dpr=1&auto=format&fit=crop&w=1080&h=751&q=80&cs=tinysrgb&crop=&bg=') }}
      {{ card.cardPicture('https://images.unsplash.com/photo-1476412555281-07839260e654?dpr=1&auto=format&fit=crop&w=1080&h=719&q=80&cs=tinysrgb&crop=&bg=') }}
      {{ card.cardPicture('https://images.unsplash.com/reserve/unsplash_528b27288f41f_1.JPG?dpr=1&auto=format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=&bg=') }}
      {{ card.cardPicture('https://images.unsplash.com/photo-1483911001049-ccd2c8148f9a?dpr=1&auto=format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=&bg=') }}
    </div>

  <!-- grid testing

  <div class="grid">
    <div class="grid-item">
      <p class="module-text">yolo</p>
      <a href="asfa">click me bitch</a>
    </div>
    <div class="grid-item">
      <p class="module-text">swag</p>
    </div>
    <div class="grid-item">
      <p class="module-text">spaghetti</p>
    </div>
    <div class="grid-item">
      <p class="module-text">holocaust</p>
    </div>
  </div> -->

  <!-- page footer -->
  <!-- {% include "footer.html" %} -->
  {{ bundleResult["js/main"]["scripts"] }}

  </body>
</html>
