

//.parent .child {
//  color: blue;
//}
//.parent .child {
//  background-color: green;
//}

.parent{
  > p + p + p {
  background-color: red;
  }
}
  //p ~ p {
  //  background-color: blue;
  //}
//}

//.parent{
//  .child & {
//    .child {
//      color: white;
//      display: flex;
//    }
//  }
//}

div .parent {
  background-color: green;
  @include outer-container;
}

/* -----------------------------------------------------------------------*/



.break{
  margin: 10em 0;
}

%outer{
  max-width: 1200px;
  @include margin(null auto);
  display:flex;
}

%inner-item{
  flex-basis: 24%;

  .module-text{
    background-color: $gold;
    color: white;
    //border: 1px solid black;
  }
}

.grid{
  @extend %outer;

  .grid-item{
    @extend %inner-item;
  }

  & > .grid-item + .grid-item{
        margin-left:1%;
      }
}
